

body, html {
    height: 100%;
  }
  
  @media (max-width: 991px) 
  {
    .hero-image{
   display: none;
  }
  }
  /* The hero image */
  .hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("head.jpg");
  
  
  /* Set a specific height */
  height: 75%;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  
  
  .spacing{
    padding-top: 150px;
  }
  
  
  
  hr {
    
    border-top: 1px solid blue;
    
  }
  
  .center{
    text-align: left;
          display: block;
  }
  
  
  
  
    
    