@media (max-width: 991px) 
{
  .hero-image{
 display: none;
}
}


body, html {
    height: 100%;
  }
  
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("strings.jpg");
  
  
  /* Set a specific height */
  height: 75%;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  
  
  .spacing{
    padding-top: 150px;
  }
  
.center{
    text-align: left;
          display: block;
  }

  #bot-pad {
    padding-bottom: 50px;
  }
  
  
  
  
    
    